[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jan Stein
	email = 45586480+janfrederikstein@users.noreply.github.com
[pull]
	rebase = false
